@use "../utils/mixins" as mxn;
nav{
 position: sticky;
 top: 0px;
 background-color: white
}
.head3--p1 {
  @include mxn.family(Clash Display,24px,400,29.52px,black) ;
  text-align: left;
}
.headera--a{
@media(max-width:575px){
display: none !important;
}
  .header--_1{
    @media (max-width:740px){
      gap: 20px !important;
    }
    li{
  list-style: none;
  a{
    @include mxn.family(Satoshi,16px,400,21.6px,rgba(114, 110, 141, 1));
  text-decoration: none;
  margin-top: 40px;
  text-align: left;
  }
  }
  }
}
.headera--b{
  margin-top: 20px;
  display:none;
  @media (max-width:575px){
    display: block;
    padding-top: 100px !important;
    padding: 0px 20px;
  }
   li{
    padding-top: 10px;
  list-style: none;
  a{
    @include mxn.family(Satoshi,16px,400,21.6px,rgba(114, 110, 141, 1));
  text-decoration: none;
  margin-top: 40px;
  text-align: left;
  }
  }
}
